ul.timeline {
  list-style-type: none;
  position: relative;
}
/* Line */
ul.timeline:before {
  content: ' ';
  background: #4472c4;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
/* Round icons */
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #4472c4;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.shipment-container{
  text-align: left;
  padding: .5em;
}

.shipment-status{
  font-weight: bold;
  font-size: 1.2em;
  margin: .2em 0;
}

.status-icon{
  color: #0C5EA8
}
.shipment-date{
  font-size: .9em;
  color: rgb(166,166, 166);
  margin-bottom: .2em
}
.shipment-details{
  font-size: .75em;
  color: rgb(127,127, 127);
  margin-bottom: .2em;
  font-style: italic
}

.shipment-container.container-warning{
  background-color:#FBE5D6;
}
.shipment-container.container-warning > .shipment-status{
  color:rgb(200,97,26);
}
.transaction-warning{
  background: #F7ECE6;
  padding: .2em .5em
}
.transaction-warning>h3{
  color: #0C5EA8;
  font-size: 2em;
  font-weight: 400;
}
.transaction-warning>strong{
  color:#EB7C3F;
  text-transform: uppercase
}
